name: remap
on: [push]
jobs:
  rspec:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: 3.0.3
    - run: bundle exec rake rspec
      env:
        COVERAGE: 'true'
    - run: bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r coverage/coverage.xml || true
      env:
        CODACY_API_TOKEN: ${{ secrets.CODACY_API_TOKEN }}
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

  rubocop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: 3.0.3
    - run: bundle exec rake rubocop

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: 3.0.3
    - run: bundle exec rake yard:docs
    - run: git config --local user.email "bot@oleander.io"
    - run: git config --local user.name "oleander-bot"
    - run: git add docs/
    - run: git commit -m 'update docs'
    - run: git push -f origin development:gh-pages

  doctest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: 3.0.3
    - run: bundle exec rake yard:doctest


  deploy:
    needs: [rspec, rubocop, docs, doctest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: 3.0.3
      - run: git config --local user.email "bot@oleander.io"
      - run: git config --local user.name "oleander-bot"
      - if: contains(github.ref, 'refs/heads/development')
        uses: cadwallion/publish-rubygems-action@master
        env:
          RUBYGEMS_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
          RELEASE_COMMAND: bundle exec rake gem:release
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
